/* section.css */
.container-body {
  position: relative;
  width: 1650px;
}

.section-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding-left: 728px;
  padding-top: 12px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.text {
  text-align: left;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  width: 590px;
  z-index: 10;
}

.read-button {
  display: flex;
  height: 45px;
  padding: 11px 32px;
  justify-content: center;
  gap: 10px;
  border: none;
  background: var(--background-1, linear-gradient(180deg, #ebebe9 0%, #ededeb 100%));
}

.read-button-text {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  padding-right: 313px;
  cursor: pointer;
  padding-bottom: 38px;
}

.h1-text-body {
  font-family: Arial;
  font-size: 160px;
  font-weight: 900;
  line-height: 160px;
  position: relative;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(207, 207, 205, 1);
  z-index: 0;
}
